* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s ease;
}

body
{   
    background: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(212, 30, 157);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(212, 30, 157);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(193, 26, 143);
}

/* CARGA */

#contenedor-carga {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 150;
}

#carga {
    border: 15px solid rgb(241, 241, 241);
    border-top-color: rgb(255, 0, 200);
    border-top-style: double;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg); }
} 

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: rgb(220, 63, 189);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: #700050;
    /* respaldo para navegadores antiguos */
    background: -webkit-linear-gradient(to right, hsl(313, 91%, 31%), hsl(313, 91%, 31%)), url(../img/fondo3.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(313, 91%, 31%, 0.459), hsla(313, 91%, 31%, 0.664)), url(../img/fondo3.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:rgb(255, 255, 255);
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

/* Ficha Tecnica */

main .Ficha_Tecnica{
    padding: 30px 0 60px 0;
}
.contenedor-Ficha_Tecnica{
    display: flex;
    justify-content: space-evenly;
}


.imagen-about-us{
    width: 48%;
}

.imagen-contenidos{
    width: 60%;
    height: 20%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: rgb(220, 63, 189);
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(255, 95, 255, 0.5);
    margin-right: 5px;
    margin-left: 10px;
}

.contenido-textos p{
    padding: 0px 0px 10px 15px;
    font-weight: 300;
    text-align: justify;
}

li {
    margin-left: 20px;
}

/* Content img */

.contenedor-img{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 15px;
    border-bottom: 1px solid #ccc;
}

.content-img{
    text-align: center;
}

.content-img img:hover {
    transition: 0.5s;
    transform: scale(1.3);
}

.content-img h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-img p{
    color: #af20d3;
}

/* footer */

footer{
    width: 100%;
    background: #414141;
    padding: 40px 0 30px 0;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0px 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 95%;
    }

    .contenedor-sobre-nosotros {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}